<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <%
    @current_user=Helpers.current_user
    if !@current_user==nil && Helpers.is_logged_in?%>
      <h2><%=@curent_user.username%></h2>
      <p>
        <%=@current_user.balance%>
      </p>
    
    <a href="/logout">Log out</a>
  </body>
</html>
